.title{
  .title-section{
    margin: 2rem;

    h1{
      font-size: 2rem;
    }

    p{
      margin-top: 1rem;
    }

    .subtitulo{
      margin-top: 0;
      font-size: .8rem;
      font-style: italic;
      font-weight: 300;
    }

    
  }

  .foto-principal{
    width:100%;
    display: flex;
    justify-content: center;
    height: auto;

    img{
        width: 70%;
    }
  }
}


.foto-mi{
  margin: 2rem;

  img{
    margin-bottom: 1rem;
  }
}
