@use "../utilities/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: variables.$blue_oxford;
    color: variables.$p-white;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Zain", sans-serif;
}

img{
    max-width: 100%; 
    height: auto;
}

header{
    background-color: variables.$p-white;
    color: variables.$blue_oxford;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    height: auto;
}

footer{
    background-color: variables.$p-white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: auto;
}