* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body{
  background-color: #020419;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  /* font-size: 16px;  */
  font-family: "Zain", sans-serif;
}

img{
  max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
  height: auto;
}

header{
  background-color: #FFFFFF;
  color: #020419;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-container{
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.logo-container img{
  margin-bottom: 0;
  padding-bottom: 0;
  width: 4rem;
}

.nav-menu{
  width: 100%;
  list-style: none; /* Eliminar viñetas */
  display: flex; /* Alinear elementos horizontalmente */
  justify-content: space-around;
  padding: 0.8rem 0 0.8rem 0.8rem;
}

.nav-menu a {
  text-decoration: none; /* Eliminar subrayado */
  color: #020419; 
  padding-right: 0.8rem;
  font-size: 0.7rem;
}

.title-section{
  margin: 2rem;
}

.title-section h1{
  font-size: 2rem;
}

.title-section p {
  margin-top: 1rem;
}

.subtitulo{
  margin-top: 0;
  font-size: .8rem;
  font-style: italic;
  font-weight: 300;
}

.foto-principal{
  width:100%;
  display: flex;
  justify-content: center;
  height: auto;
}

.foto-principal img{
  width: 70%;
}

.pastores-valle{
  margin-top: 2rem;
}

.pastores-valle h2{
  font-size: 2rem;
  margin: 0 2rem; 
}

.pastores-valle article{
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  align-items: center;
}

.ps-candido{
  width: 85%;
  margin-top: 1rem; 
  font-weight: 300;
}

.ps_damaris{
  width: 85%;
  margin-top: 2rem;
  font-weight: 300;
}

.info-pastor{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.info-pastor_nombre{
  margin: 0.5rem 0;
}

.info-pastor_descripcion{
  margin: 0.2rem 0;
}

.nosotros{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.nosotros h2{
  margin: 2rem 2rem 1rem 2rem;
}

.nosotros img{
  width: 80%;
}

.nosotros article{
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.poco-nosotros{
  margin:0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.poco-nosotros h4{
  margin-top: 1rem;
}

.principal-pagina{
  margin: 2rem;
}

.principal-pagina p{
  margin: 1rem;
  text-align: justify;
}

.proximos-eventos{
  margin: 2rem;
}

.proximos-eventos h2{
  margin-bottom: 1rem;
}

.legendariomeaning{
  color: orangered;
}

.foto-mi{
  margin: 2rem;
}

.foto-mi img{
  margin-bottom: 1rem;
}

/* Página contacto */
.contacto{
  margin: 2rem;
}

.sede{
  margin: 1rem;
}

.sedes{
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.informacion_sedes{
  padding: 0;
  margin: 0;
}

.datos-contacto{
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

footer p{
  color: #020419;
  margin: 0 1rem 1rem 1rem;
  text-align: center;
}

.redes{
  margin-right: 1rem;
  list-style: none; /* Eliminar viñetas */
  display: flex; /* Alinear elementos horizontalmente */
  justify-content: space-between;
}

.redes img{
  width: 2rem;
  margin: 0.6em;
}

@media (min-width: 768px) {
  html{
    font-size: 24px;
  }

  .logo-container{
    font-size: 0.7rem;
    font-weight: 700; 
  }

  .nav-menu{
    justify-content: space-between;
    padding: 0.8rem 0 0.8rem 0.8rem;
  }

  .pastores-valle article{
    flex-direction: row;
  }

  .nosotros article{
    flex-direction: row;
    margin-right: 2rem;
  }

  .poco-nosotros{
    margin:0 0.1rem 2rem 2rem;
  }
  
  .poco-nosotros img{
    width: 100%;
  }

  .img-legendarios{
    display: flex;
    justify-content: center;
  }

  .img-legendarios img{
    width: 80%;
    height: auto;
  }

  .foto-mi div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .foto-mi img{
    width: 80%;
    height: auto;
    margin-bottom: 1.5rem;
  }

  .proximos-eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .proximos-eventos img{
    width: 80%;
    height: auto;
  }

  .contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer{
    flex-direction: row;
    justify-content: space-between;
  }

  footer p{
    font-size: 0.7rem;
    margin-bottom: 0;
  }
  
  .redes img{
    width: 1.5rem;
  }

}




